* {
    margin: 0;
    padding: 0;
    font-family:'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

body {
    background-color: #DFEFFF;
}

.head {
    margin-left: 2px;
    margin-right: 8px;
    height: 9vh;
    font-size: 5vh;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 4px solid #9999FF;
    box-shadow: 2px 2px 2px #000000;
}

.headtext {
    padding-left: 1%;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.side {
    margin-top: 8px;
    margin-left: 2px;
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 24vw;
    height: 90vh;
    box-sizing: border-box;
}

.items {
    margin-bottom: 8px;
    position: sticky;
    height: 18vh;
    background-color: #CFCFFF;
    box-sizing: border-box;
    border: 4px solid #9999FF;
    box-shadow: 2px 2px 2px #000000;
}

.itembutton {
    height: 70%;
}

button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #DFDFFF;
}

.itemcontents {
    background-color: #FFFFFF;
    font-size: 2.4vh;
    text-align: center;
    height: 30%;
    position: sticky;
}

.content {
    margin: 8px;
}

.block {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    border: 4px solid #9999FF;
    box-shadow: 2px 2px 2px #000000;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.month {
    background-color: #FFFFFF;
    text-align: center;
    height: auto;
    font-size: 3.2vh;
    border: solid 1px #CFCFFF;
}

a {
    color: #7777FF;
}

.tablearea {
    flex-grow: 1;
}

.table {
    text-align: center;
    font-size: 2.4vh;
    width: 100%;
    height: 100%;
}

th {
    background-color: #FFFFFF;
}

td {
    background-color: #FFFFFF;
}

/*-- 日付が今日の場合オレンジ --*/
.today {
    background-color: #FF9999;
}
/*-- 日曜日(1)は赤 --*/
th:nth-of-type(1), td:nth-of-type(1) {
    color: red;
}
/*-- 土曜日(7)は青 --*/
th:nth-of-type(7), td:nth-of-type(7) {
    color: blue;
}

.foot {
    width: 76vw;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    height: 8vh;
    box-sizing: border-box;
    font-size: 3vh;
}

.jump {
    margin-left: 84%;
    width: 24vh;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 4px solid #9999FF;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
}

.footbutton {
    border: none;
    font-size: 2vh;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.foottext {
    color: #000000;
}
