body {
    font-family:'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    width: 580px;
    height: 600px;
    text-align: center;
    background-color: #ADD8E6;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

h1 {
    padding-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 1px 1px 1px #000000;
}

.block {
    background-color: hsl(219, 34%, 56%);
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
}

.numblock {
    margin-left: 16%;
    margin-right: 16%;
    font-size: 20px;
    text-align: left;
}

.radio {
    border-radius: 10px;
    background-color: #80B4DE;
    border: 1px solid black;
    color: white;
    margin-top: 0px;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: left;
}

.input {
    width: 65%;
    height: 24px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.nameblock {
    font-size: 20px;
    margin-left: 16%;
    margin-right: 16%;
    text-align: left;
}

.passblock {
    font-size: 20px;
    margin-left: 16%;
    margin-right: 16%;
    text-align: left;
}

.sendbutton {
    font-size: 24px;
    width: 50%;
    min-width: 80px;
    max-width: 240px;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

.gologin {
    font-size: 20px;
}

.loginlink {
    font-size: 22px;
    color: #CFCFFF;
}